.project_details_container {
    padding-inline: 2rem;
    padding-block: 2rem;
}

.project_details_wrapper_top {
    padding-left: 1rem;
}

.project_details_wrapper_top_desc {
    margin-block: 1rem;
}

.project_details_wrapper_middle {
    border-top: 2px solid grey;
    margin-top: 1rem;
    padding-left: 1rem;
    border-radius: 6px;
    background-color: white;
    box-shadow: 2px 2px 2px grey;
}

.project_details_wrapper_middle_options {
    display: flex;
    gap: 2rem;
}

.project_details_wrapper_middle_options_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.project_details_wrapper_middle_options_item svg {
    width: 30px;
}

.project_details_wrapper_bottom {
    display: flex;
    padding-block: 2rem;
    padding-inline: 0.5rem;
}

.project_details_wrapper_bottom_video {
    width: 65%;

}

.project_details_wrapper_bottom_others_icon {
    display: flex;
    justify-content: space-between;
    padding-block: 0.7rem;
    padding-inline: 1rem;
    align-items: center;
}
.project_details_wrapper_bottom_others_icon_item {
    display: flex;
    align-items: center;
    gap:0.5rem;
    border: 1px solid black;
    border-radius: 1rem;
    padding-inline: 1rem;
    padding-block: 0.2rem;
}
.project_details_wrapper_bottom_others_icon svg {
    width: 25px;
}

.project_details_wrapper_bottom_suggested {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-inline-start: 4rem;
}
.project_details_wrapper_bottom_suggested_project_card {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.project_details_wrapper_bottom_suggested_project_card:hover {
transform: scale(1.01);
}
